Subject: Activate Your Capacity Market Search Account

Hi {{ user.username }},

Thank you for registering with Capacity Market Search. Please click the link below to activate your account:

{{ activation_link }}

Important information about your account:

- Once activated, you'll have 1 week of free access every month to explore all our features
- Your monthly trial resets every 30 days, giving you fresh access time
- You can check your remaining time on your Account page
- Upgrade to £5/year for unlimited access to all features

If you did not request this registration, please ignore this email.

Thanks,
Capacity Market Search Team 